<div ng-if="!parent" ui-view></div>
<div ng-if="parent">
	<div class="row">
		<h1 class="page-header">
			<i class="fa fa-wechat" style="color:#337ab7;"></i>&nbsp; Manage Feedback
			
		</h1>
	</div>
	
	<div class="text-right">
		
	</div>
	
	<div class="panel panel-info" ng-if="feedbacksData.length==0">
   		<div class="panel-heading"> Feedbacks </div>
   		<div class="panel-body">
   			<div class="row text-center">
   				<br>
   				<h4><label>There are no Feedbacks</label></h4>
   				<br>
   			</div>
   		</div>
   	</div>
	
	<div style="width: 100%;" ng-if="feedbacksData.length>0">
		<table id ="manageTenantDataTable" datatable="ng" class="table table-bordered table-striped" >
			<thead>
				<tr>
					<th style="width:10%;text-align:center;">ID</th>
					<th style="width:20%;text-align:center;">Name</th>
					<th style="width:20%;text-align:center;">Mobile No</th>
					<th style="width:15%;text-align:center;">Status</th>
					<th style="width:15%;text-align:center;">Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="feedback in feedbacksData track by $index" class="item">
					<td style="text-align:center;">{{feedback.id}}</td>
					<td style="text-align:center;">{{feedback.feedbackName}}</td>
					<td style="text-align:center;">{{feedback.feedbackPhone}}</td>
					<td style="text-align:center;color:green;" ng-show="feedback.feedbackStatus==1"> Show </td>
					<td style="text-align:center;color:red;" ng-show="feedback.feedbackStatus==0"> Hide </td>
					<td style="text-align:center;" ng-show="feedback.feedbackStatus==2"></td>
					<td style="text-align:center;">
						<button class="btn btn-warning btn-xs" type="button"  ng-click="onEdit(feedback)">
							<i class="fa fa-edit"></i>&nbsp;
							Edit
						</button>
					</td>
				</tr>
			</tbody>
		</table> 
	</div>

</div>
