<div>
    <br>
    <div class="row">
        <h1>{{heading}}</h1>{{patient}}
    </div>

    <form name="addForm">
        <div class="panel panel-info">
            <div class="panel-heading">Patient Form</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group {{patientNameFeedback}}">
                            <label>Name</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="1" ng-change="validPatientName(addForm.patientName.$invalid)" ng-model="patient.patientName" name="patientName" ng-pattern="/^[a-zA-Z0-9  ]*$/" required>
                            <div ng-show="patientNameValid" style="color: red">Please Enter valid Name</div>
                            <span ng-show="patientNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{patientCityFeedback}}">
                            <label>City</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="2" ng-change="validCity(addForm.city.$invalid)" ng-model="patient.patientCity" name="city" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="patientCityValid" style="color: red">Please Enter valid City</div>
                            <span ng-show="patientCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group {{patientTalFeedback}}">
                            <label>Taluka</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="3" ng-change="validTal(addForm.tal.$invalid)" ng-model="patient.patientTal" name="tal" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="patientTalValid" style="color: red">Please Enter valid Taluka</div>
                            <span ng-show="patientTalSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientTalError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group {{patientDistFeedback}}">
                            <label>District</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="4" ng-change="validDist(addForm.dist.$invalid)" ng-model="patient.patientDist" name="dist" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="patientDistValid" style="color: red">Please Enter valid District</div>
                            <span ng-show="patientDistSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientDistError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{patientPhoneFeedback}}">
                            <label>Phone/Mobile Number</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="5" type="number" ng-change="validPatientPhone(addForm.patientPhone.$invalid)" ng-model="patient.patientPhone" name="patientPhone" ngMinlength="10" ngMaxlength="10" placeholder="eg :(XXXXXXXXXX) 10 digits  " ng-pattern="/^\d{10}$/" required>
                            <div ng-show="patientPhoneValid" style="color: red">Please Enter valid Phone Number</div>
                            <span ng-show="patientPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group {{patientAadharnoFeedback}}">
                            <label>Aadhar Number</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="6" type="number" ng-change="validPatientAadharNo(addForm.patientAadharno.$invalid)" ng-model="patient.patientAadharno" name="patientAadharno" placeholder="eg :(XXXXXXXXXXXX) 12 digits  "  required>
                            <div ng-show="patientAadharnoValid" style="color: red">Please Enter valid Aadhar Number</div>
                            <span ng-show="patientAadharnoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientAadharnoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{patientEmailFeedback}}">
                            <label>Email</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="7" ng-disabled="editMode" ng-change="validPatientEmail(addForm.patientEmail.$invalid)" ng-model="patient.patientEmail" name="patientEmail" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="eg :(aaa@aa.aaa)" required>
                            <div ng-show="patientEmailValid" style="color: red">Please Enter valid Email ID</div>
                            <span ng-show="patientEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{patientDiseseFeedback}}">
                            <label>Nature Of Disese</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="8" ng-change="validPatientDisese(addForm.patientDisese.$invalid)" ng-model="patient.patientDisese" name="patientDisese" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="patientDiseseValid" style="color: red">Please Enter valid Nature Of Disese</div>
                            <span ng-show="patientDiseseSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientDiseseError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group {{patientHelptypeFeedback}}">
                            <label>Help in Financial/Things(objects)/Services</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="9" ng-change="validPatientHelptype(addForm.paymentMode.$invalid)" ng-model="patient.patientHelptype" name="patientHelptype" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="patientHelptypeValid" style="color: red">Please Enter valid Helptype</div>
                            <span ng-show="patientHelptypeSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientHelptypeError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group {{patientAccountnoFeedback}}">
                            <label>Bank A/c No</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="10" type="number" ng-change="validPatientAccountno(addForm.patientAccountno.$invalid)" ng-model="patient.patientAccountno" name="patientAccountno" ngMinlength="10" ngMaxlength="12" placeholder="  " required>
                            <div ng-show="patientAccountnoValid" style="color: red">Please Enter valid Accountno</div>
                            <span ng-show="patientAccountnoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientAccountnoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{patientDoctorinfoFeedback}}">
                            <label>Doctor Information</label>
                            <label style="color: red">&nbsp*</label>
                            <textarea class="form-control" rows="5" autocomplete="off" tabindex="11" ng-change="validPatientDoctorinfo(addForm.patientDoctorinfo.$invalid)" ng-model="patient.patientDoctorinfo" name="patientDoctorinfo" ng-pattern="/^[a-zA-Z  ]*$/" required/>
                            <div ng-show="patientDoctorinfoValid" style="color: red">Please Enter valid Occupation</div>
                            <span ng-show="patientDoctorinfoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="patientDoctorinfoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                    </div>

                </div>

                <div class="row text-center" ng-hide="addForm.$valid" style="color: red">Enter all mandatory fields marked with *</div>

                <div class="row text-center">
                    <button class="btn btn-success" tabindex="12" type="button" ng-disabled="addForm.$invalid" ng-click="addPatient()">
                        <i class="fa fa-check"></i>&nbsp; Save
                    </button>

                    <button class="btn btn-danger" tabindex="13" type="button" ng-click="cancelAddPatient()">
                        <i class="fa fa-times"></i>&nbsp; Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>