
<!-- Page Wrap ===========================================-->
<div id="wrap"> 
  
  <!--======= TOP BAR =========-->
  <div class="top-bar">
    <div class="container">
      <ul class="left-bar-side">
        <li>
          <p class="font-lora"><i><img src="asset-design/images/top-bar-icon.png" alt=""></i> No one has Ever Become Poor from Giving! </p>
        </li>
      </ul>
      <ul class="right-bar-side social_icons">
        <li class="padding-r-20">
          <p class="font-lora">Phone: (01) 800 433 633</p>
        </li>
        <li>
          <p class="font-lora">Mail: aarogyadaan01@gmail.com</p>
        </li>
      </ul>
    </div>
  </div>
  
  <!--======= HEADER START =========-->
  <header class="sticky">
    <div class="container"> 
      
      <!--======= LOGO =========-->
      <div class="logo"> <a href="#."><img style="width:256px;" src="asset-design/images/abhi.png" alt="" ></a> </div>
      
      <!--======= DONATE NOW BTN =========-->
      <!-- <div class="btn-right"> <a ui-sref="login" class="btn popup-with-zoom-anim"><i class="fa fa-user-secret"></i>Login</a> </div> -->
      <div class="btn-right"> <a href="#patient" class="btn popup-with-zoom-anim">Join as Patient</a> </div>
      <div class="btn-right"> <a href="#backer" class="btn popup-with-zoom-anim">Join as Backer</a> </div>
    </div>
    
    <!--======= NAVIGATION =========-->
    <nav>
      <div class="container">
        <ul id="ownmenu" class="ownmenu">
          <li><a ui-sref="main">Home</a></li>
          <li><a href="">About Us </a></li>
          <li><a href="">Events </a></li>
          <li><a ui-sref="gallery">Gallery </a></li>
          <li><a href="">Blog </a></li>
          <li><a ui-sref="feedback">Feedback</a></li>
          <li class="active"><a ui-sref="faq">FAQ</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!--======= HEADER END =========--> 
  <!--======= BANNER =========-->
  <div class="sub-banner">
    <div class="overlay">
      <div class="container">
        <h3>FAQ</h3>
        
        <!--======= BREADCRUMB =========-->
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li>FAQ</li>
        </ol>
      </div>
    </div>
  </div>
  
  <!--======= CONTENT =========-->
  <div class="content"> 
    <!--======= HOW CAN YOU HELP =========-->
    <section class="donatores">
      <div class="container"> 
        
        
        <!--======= DONATOR ROWS =========-->
        <div class="row"> 
          
          <style>
.accordion {
    background-color: #ecc731;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ecc731; 
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
</style>
</head>
<body>

<button class="accordion">
	बॅकर्स म्हणजे काय? <br>
	What is backers?
</button>
<div class="panel">
  <p>रुग्णांना आर्थिक, वस्तू किंवा सेवारुपात मदत करण्याची इच्छा व्यक्त करणारे म्हणजे बॅकर्स.</p>
  <p>Backers means those persons who willing to help patients through donate money,medical equipment and giving service.</p>
</div>
<p></p>
<button class="accordion">
	बॅकर्स कोण असू शकतात? <br>
	Who can be backers? Person or Institution?
</button>
<div class="panel">
  <p>व्यक्ती कि संस्था -  दोन्हीही, व्यक्ती किंवा कोणत्याही प्रकारची नोंदणीकृत संस्था बॅकर्स म्हणून नोंदणी करू शकते. याखेरीज अनौपचारिकपणे एकत्र येऊन सेवाभावी कार्य करणाऱ्यांचा गटही बॅकर्स म्हणून नोंदणी करू शकतो.</p>
  <p>Both, A person or any registered institution can be register as a backers. Moreover, a informally group who wants to come together for charitable work also can be register as a backers.</p>
</div>
<p></p>
<button class="accordion">
	बॅकर्स नोंदणीची गरज काय? <br>
	What is the need for registration of backers?
</button>
<div class="panel">
  <p>कमकुवत आर्थिक स्थिती असलेल्या घरातील एखादी व्यक्ती ज्यावेळी गंभीर आजारी पडते किंवा तिचा अपघात होतो, त्यावेळी सगळ्या कुटुंबावर मोठा आघात होतो. त्यावेळेस एकावेळेस अनेक आघाड्यांवर लढण्याची वेळ त्यांच्यावर येते. एकाचवेळी रुग्णाकडे पहाणे, पैशाची जमवाजमव करणे या गोष्टी त्यांना कराव्या लागतात. अशा ऐनवेळीस पैशाची जुळवणी अवघड जाते, अनेकदा अशा स्थितीचा लाभ घेऊन त्यांच्याकडील मालमत्ता कमी किंमतीत विकत घेतल्या जातात.</p>
  <p>जर बॅकर्सची नोंदणी केलेली असेल तर या व्यक्तीवर आलेल्या संकटाची माहिती या साऱ्या बॅकर्सपर्यंत एसएमएस व्दारे लगेच पोहचते. त्यातून या कुटुंबाला तातडीने मदत उपलब्ध होऊ शकते. यासाठी बॅकर्सची नोंदणी महत्वाची ठरते.</p>
  <p>A family with a weak financial situation get major stroke when his family member suffer from severe illness or accident. Then the family would fight against various front. They have to pay attention to the patients and same time manage the money. In this situation it is difficult to deal with money. Often,the advantage of such situations is that his/her properties/estate are bought at low prices.</p>
  <p>If the backers are registered, then the information given by the suffer person will be immediately sent by the SMS to all the backers. In this case,such families can get help from them promptly,so it is important for the registration of backers.</p>
  
</div>
<p></p>
<button class="accordion">
	रुग्ण म्हणून कोण नोंदणी करू शकतो? <br>
	Who can register as a patient ? 
</button>
<div class="panel">
  <p>आजारी असणारा आणि आर्थिकदृष्ट्या कमजोर असल्याने त्या आजारपणाचा खर्च न पेलू शकणारा कोणीही रुग्ण म्हणून नोंदणी करू शकतो. रुग्णाऐवजी त्याच्या मित्रांनी किवा परिवाराने अपेक्षित कागदपत्रांसह नोंदणी करण्यासही हरकत नाही.</p>
  <p>The persons who suffer with illness and have weak financial background  and cannot afford the expenditure of treatment are eligible for registration as a patient. Instead of patient its friends or family can register with requisite documents.</p>
</div>
<p></p>
<button class="accordion">
	रुग्णाची माहिती किती काळ वेबसाईटवर राहिल? <br>
	How long will the information of the patient remain on the website?
</button>
<div class="panel">
  <p>3 महिने. 3 महिन्यांनंतर ही माहिती आपोआप डिलीट होईल. जर रुग्णाला अपेक्षित मदत मिळाली नसेल तर त्याला पुन्हा एकदा नोंदणी करता येईल. एकुण दोन वेळेपेक्षा जास्त वेळेस नोंदणी करता येणार नाही.</p>
  <p>3 Months. This information will be automatically deleted after 3 months.  If the patient does not get required help then he/she can be registered again. It cannot register for more than two times.</p>
</div>
<p></p>
<button class="accordion">
	व्हॉलियंटर्सचे काम काय? <br>
	What is the work of volunteers?
</button>
<div class="panel">
  <p>वेबसाईटची माहिती परिसरातील जास्तीत जास्त लोकांपर्यंत पोचवणे. रुग्ण किंवा बॅकर्स यांची नोंदणी करणे. बॅकर्सने एखाद्या रुग्णाला मदत करण्याची इच्छा व्यक्त केली पण सदर रुग्णांनी दिलेली माहिती योग्य आहे काय ?  याची तपासणी करण्याची विनंती केली तर त्याप्रमाणे रुग्ण तसेच त्याचा परिवाराला, डॉक्टरांना भेटून दिलेल्या माहितीची तपासणी करून घेणे. याप्रमाणे योग्य व्यक्तीला मदत पोचविण्यासाठी बॅकर्सला मदत करणे. याखेरीज आवश्यक त्या वेळेस प्रसारमाध्यमांशी संपर्क साधून त्यांना माहिती देणे.</p>
  <p>To inform the information of website to maximum people in that area. To registering maximum patient and  backers. If backers willing to help patient but he/she has not sure about given information, if they request to investigate this, in that case to check the information gathered by patient and his family,to the doctors. To assist backers for help right(apt) person. Apart from this, if essential then contact the media and give them information.</p>
</div>
<p></p>
<button class="accordion">
	व्हॉलियंटरचा फायदा काय? <br>
	What is the benefit of volunteers?
</button>
<div class="panel">
  <p>समाजासाठी काम केल्याचे समाधान. समाजातील मोठमोठ्या लोकांशी व्यक्तिगत संपर्क प्रस्थापित होईल. स्वत:चा व्यक्तिमत्व विकास साधण्यासाठी मदत होईल.</p>
  <p>Satisfaction of work for society. Will get chance to make personal contact with social dignitaries people. Will get help for improving in self personality development.</p>
  
</div>
<p></p>
<button class="accordion">
	बॅकर्सला रुग्णांची माहिती कशी मिळणार? <br>
	How can backers get information of patients?
</button>
<div class="panel">
  <p>बॅकर म्हणून नोंदणी करताना कोणत्या परिसरातील रुग्णाला मदत करण्याची इच्छा आहे किंवा कोणत्या आजाराच्या रुग्णाला मदत करण्याची इच्छा आहे याची माहिती त्यांनी दिलेली असते.  त्या परिसरातील किंवा तो आजार असलेल्या रुग्णांने नोंदणी केल्यास लगेचच एसएमएसव्दारे  किंवा ईमेलव्दारे त्याची माहिती संबंधित बॅकरला दिली जाते. त्यावरून रुग्णांची माहिती बॅकर्सना मिळू शकते. माहिती कशी मिळावी ( एसएमएस किंवा ईमेल) याची निवड बॅकरने करायची आहे.</p>
  <p>While registering as a backers, he/she has given information about whether he/she wants to help patient in particular are or dices.  After registering in that area person or by the patient, the information is given to the respective backers immediately by sending a SMS or Email. The backers can get information from him. How to get information through SMS or Email should be decided by backers.</p>
</div>
<p></p>
<button class="accordion">
	बॅकर्स रुग्णांना कशी मदत करणार? <br>
	How do the backers help the patients?
</button>
<div class="panel">
  <p>बॅकर्सच्या मोबाईलवर किंवा ईमेलवर रुग्णांची माहिती पाठविली जाईल. त्यानंतर रुग्णांना मदत करावी कि नाही याचा निर्णय बॅकर्स घेऊ शकेल.</p>
  <p><b>पर्याय क्रमांक 1 -</b> बॅकर्सने रुग्णाची प्रत्यक्ष भेट घ्यावी, त्याची सर्व परिस्थिती समजावून घ्यावी व त्यानंतर प्रत्यक्षपणे रुग्णाच्या हातात मदत देणे अपेक्षित आहे. यातून रुग्णाची परिस्थिती प्रत्यक्षपणे पाहून त्यानूसार बॅकर्सला मदत करता येईल. प्रत्यक्ष मदत दिल्याने एक भावनिक नातेही तयार होईल.</p>
  <p><b>पर्याय क्रमांक 2 -</b> बॅकर्सने वेबसाईटवर पाहून कोणाला मदत करायची आहे हे निश्चित केले आहे. परंतू काही कारणांने तो प्रत्यक्ष रुग्ण किंवा त्याच्या नातेवाईकांना भेटु शकत नाही. अशावेळेस त्यांनी त्या परिसरातील व्हॉलिएंटरची मदत घ्यावी. हॉलिएंटर सदर रुग्णाने वेबसाईटवर दिलेल्या माहितीची सत्यता प्रत्यक्ष भेट देऊन पडताळून पाहिल आणि त्याप्रमाणे बॅकर्सला कळवेल. त्यानंतर बॅकर्स प्रत्यक्ष येऊन रुग्णाला मदत करू शकेल किंवा ऑनलाईन रुग्णाच्या खात्यात मदत जमा करून शकेल. याखेरीज तो  व्हॉलिएंटरच्या मार्फत मदत पाठवु शकेल. मात्र या स्थितीत रोख पैशाचा व्यवहार न होता चेक, ड्रॉफ्ट किंवा वस्तूरुपाने मदत दिलेली असेल.</p>
  <p><b>पर्याय क्रमांक 3 –</b> बॅकरने कोणाला मदत करायची हे निश्चित केले आहे, रुग्णांने दिलेल्या माहितीची खातरजमा करून घेतलेली आहे. मात्र मदत करताना त्यातून करबचत व्हावी अशी इच्छा आहे. या बाबतीत बॅकरने सदर रक्कम आरोग्यदानच्या सेवाभावी संस्थेकडे सुपुर्त करावी. संस्था बॅकरला सदर रकमेची पावती देईल. ती रक्कम संस्थेमार्फत रुग्णाला दिली जाईल. ज्याठिकाणी बॅकर हिच नोंदणीकृत सेवाभावी संस्था असेल त्याठिकाणी मदत प्रत्यक्षपणे रुग्णाकडे दिली जाईल. कारण या स्थितीत सदर संस्थेला करबचतीचा फायदा मिळणारच आहे.</p>
  <p>The information of the patients will be sent to the backers Mobile or Email, after that the backers may decide to whether to help the patient or not.</p>
  <p><b>Option 1 -</b> The backers should take a direct visit to the patients, understand all the circumstances and then it is expected to provide help in the hands of the patients. So backers will see the situation of the patient directly and then decide for help. Giving real help will be make an emotional relationship.</p>
  <p><b>Option 2 -</b> It has been decided by that the backers wants to help the patient by visiting the website. But due to some reason he cannot meet the actual person or his relatives, so, he/she should take help from the volunteers in that area. The volunteer will visit the site, and check authenticity of the information given on the website and will inform to the backers. After that if satisfied, the backers can actually come and help the patient or can help in the bank account of the patient through online . If its not possible help can be give threw volunteer but  in this situation cash transaction is not provided, only help will given through cheque, drafts or equipment.</p>
  <p><b>Option 3 -</b> The backers has decide about help to anyone. The information given by the patient has been confirmed. But there is a desire to be Tax Saving while helping. In this case, the backers should give amount to  Aarogydaan charitable(Philanthropic) institution. The institution will give the backer a receipt for that amount. The amount will be paid to the patient through the institution. The place where the particular backer registered as a charitable institution there help will be provided to the patient directly. Because of this situation, the benefits of Tax Saving get to the institution.</p>
</div>


          
          <!--======= DONATOR ROW =========-->
          
        </div>
      </div>
    </section>
    
  </div>
  
  <!--======= FOOTER =========-->
  <footer>
    <div class="container"> 
      
      <!--======= FOOTER ROW =========-->
      <div class="row">
        <div class="col-md-6"> 
          
          <!--======= FOOTER 1 =========-->
          <ul class="row">
            
            <!--======= KEEP IN TOUCH =========-->
            <li class="col-sm-6 shadow">
              <ul class="social_icons">
                <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a></li>
                <li class="instagram"><a href="#."><i class="fa fa-instagram"></i></a></li>
                <li class="soundcloud"><a href="#."><i class="fa fa-rss"></i></a></li>
              </ul>
              <p>Email : info@Example.com</p>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
    <br>
    <!--======= RIGHTS =========-->
  </footer>

	<!--======= BECOME A volunteer =========-->
  <div id="volunteer" class="donation-pop zoom-anim-dialog mfp-hide" style="width: 615px;">
    <h6>Register As volunteer</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
      <form>
        
        <!--======= CRADIT CARD INFO =========-->
        <ul class="row per-info">
          <li class="col-lg-12">
            <label>give Your Information</label>
          </li>
          <li class="col-sm-12">
            <input type="text" name="name" placeholder="Name">
          </li>
          
          <li class="col-sm-6">
            <input type="email" name="Email" placeholder="Email Address">
          </li>
          <li class="col-sm-6">
            <input type="text" name="phone" placeholder="phone">
          </li>
          <li class="col-sm-6">
            <input type="text" name="phone" placeholder="Occupation">
          </li>
          <li class="col-sm-12">
            <textarea placeholder="Address" style="height:75px"></textarea>
          </li>
          <li class="col-sm-12">
            <textarea placeholder="Vision"></textarea>
          </li>
          <li class="col-sm-12">
            <button type="submit" class="btn">SUBMIT DETAILS</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!--======= BECOME A volunteer END =========--> 

  <!--======= BECOME A Backer =========-->
  <div id="backer" class="donation-pop zoom-anim-dialog mfp-hide">
  
    <h6>Register As Backer</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
      <form name="addForm">
      	<ul class="row per-info">
    		<ul class="col-sm-6">
    			<ul class="row">
    				<li class="col-sm-12">
          			<img class="img-responsive" ng-if="backer.backerDist=='Pune'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="backer.backerDist!='Pune'" src="asset-design/images/noAdd.png" alt="">
          		</li>
          		<hr>
          		<li  class="col-sm-12">
          			<img class="img-responsive" ng-if="backer.backerTal=='Baramati'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="backer.backerTal!='Baramati'" src="asset-design/images/noAdd.png" alt="">
          		</li>
    			</ul>
    		</ul>
    		<ul class="col-sm-6">
    			<ul class="row">
    				<li class="col-lg-12">
            <label>give Your Information</label>
            <p>
            	This is from of declare desire of donate. In this from you have to write your preferences as per area or diseases. When this preferences match with any patient,s information you receive alert SMS. After that you have to decide for your donation for a good cause.
            </p>
          </li>
          <li class="col-sm-12">
            <input tabindex="1" ng-change="validBackerName(addForm.backerName.$invalid)" ng-model="backer.backerName" name="backerName" ng-pattern="/^[a-zA-Z0-9  ]*$/" placeholder="Name" required>
                            <div ng-show="backerNameValid" style="color: red">Please Enter valid Name</div>
                            <span ng-show="backerNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          
          <li class="col-sm-6">
                            <input placeholder="City" tabindex="2" ng-change="validCity(addForm.city.$invalid)" ng-model="backer.backerCity" name="city" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerCityValid" style="color: red">Please Enter valid City</div>
                            <span ng-show="backerCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Phone" tabindex="5" type="number" ng-change="validBackerPhone(addForm.backerPhone.$invalid)" ng-model="backer.backerPhone" name="backerPhone" ngMinlength="10" ngMaxlength="10" placeholder="eg :(XXXXXXXXXX) 10 digits  " ng-pattern="/^\d{10}$/" required>
                            <div ng-show="backerPhoneValid" style="color: red">Please Enter valid Phone Number</div>
                            <span ng-show="backerPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <!-- <input placeholder="Taluka" tabindex="3" ng-change="validTal(addForm.tal.$invalid)" ng-model="backer.backerTal" name="tal" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerTalValid" style="color: red">Please Enter valid Taluka</div>
                            <span ng-show="backerTalSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerTalError" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
				<select class="form-control" ng-model="backer.backerTal" name="backerTal" ng-options="x for x in tal">
				</select>
          </li>
          <li class="col-sm-6">
            <!-- <input placeholder="District" tabindex="4" ng-change="validDist(addForm.dist.$invalid)" ng-model="backer.backerDist" name="dist" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerDistValid" style="color: red">Please Enter valid District</div>
                            <span ng-show="backerDistSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerDistError" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
				<select class="form-control" ng-model="backer.backerDist" name="backerDist" ng-options="x for x in dist">
				</select>
          </li>
          
          <li class="col-sm-6">
            <input placeholder="Aadhar No" tabindex="6" type="number" ng-change="validBackerAadharNo(addForm.backerAadharNo.$invalid)" ng-model="backer.backerAadharNo" name="backerAadharNo" placeholder="eg :(XXXXXXXXXXXX) 12 digits  "  required>
                            <div ng-show="backerAadharNoValid" style="color: red">Please Enter valid Aadhar Number</div>
                            <span ng-show="backerAadharNoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerAadharNoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Email Address" tabindex="7" ng-disabled="editMode" ng-change="validBackerEmail(addForm.backerEmail.$invalid)" ng-model="backer.backerEmail" name="backerEmail" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="eg :(aaa@aa.aaa)" required>
                            <div ng-show="backerEmailValid" style="color: red">Please Enter valid Email ID</div>
                            <span ng-show="backerEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Nature of contribution Financial/ Things (objects)/Services" tabindex="8" ng-change="validBackerContribution(addForm.backerContribution.$invalid)" ng-model="backer.backerContribution" name="backerContribution" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerContributionValid" style="color: red">Please Enter valid Nature Of Contribution</div>
                            <span ng-show="backerContributionSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerContributionError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Amount of Contribution/Donation Monthly/Yearly" tabindex="9" ng-change="validBackerPaymentMode(addForm.paymentMode.$invalid)" ng-model="backer.backerPaymentMode" name="backerPaymentMode" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerPaymentModeValid" style="color: red">Please Enter valid PaymentMode</div>
                            <span ng-show="backerPaymentModeSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerPaymentModeError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <label style="color: red">&nbsp*</label>
                            <input placeholder="Mode of payment By cash/Cheque/Demand draft/ ECS" tabindex="10" type="number" ng-change="validBackerAmount(addForm.backerAmount.$invalid)" ng-model="backer.backerAmount" name="backerAmount" ngMinlength="1" ngMaxlength="12" placeholder="  " required>
                            <div ng-show="backerAmountValid" style="color: red">Please Enter valid Amount</div>
                            <span ng-show="backerAmountSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerAmountError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-12">
            <textarea class="form-control" rows="5" autocomplete="off" tabindex="11" ng-change="validBackerVision(addForm.backerVision.$invalid)" ng-model="backer.backerVision" name="backerVision" ng-pattern="/^[a-zA-Z  ]*$/" required/>
                            <div ng-show="backerVisionValid" style="color: red">Please Enter valid Occupation</div>
                            <span ng-show="backerVisionSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerVisionError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-12">
          	<div class="row text-center" ng-hide="addForm.$valid" style="color: red">Enter all mandatory fields marked with *</div>
          </li>
          <li class="col-sm-12">
            <button type="submit" class="btn" tabindex="12" ng-disabled="addForm.$invalid" ng-click="addBacker()">SUBMIT DETAILS</button>
          </li>
    			</ul>
    		</ul>
    	</ul>
        
        <!--======= CRADIT CARD INFO =========-->
        
      </form>
    </div>
  </div>
  <!--======= BECOME A Backer END =========--> 

  <!--======= BECOME A Patient =========-->
  <div id="patient" class="donation-pop zoom-anim-dialog mfp-hide">
  
    <h6>Register As Patient</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
    <form>
    	<ul class="row per-info">
    		<ul class="col-sm-6">
    			<ul class="row">
    				<li class="col-sm-12">
          			<img class="img-responsive" ng-if="patient.patientDist=='Pune'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="patient.patientDist!='Pune'" src="asset-design/images/noAdd.png" alt="">
          		</li>
          		<hr>
          		<li  class="col-sm-12">
          			<img class="img-responsive" ng-if="patient.patientTal=='Baramati'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="patient.patientTal!='Baramati'" src="asset-design/images/noAdd.png" alt="">
          		</li>
    			</ul>
    		</ul>
    		<ul class="col-sm-6">
    			<ul class="row">
          			<li class="col-lg-12">
            			<label>give Your Information</label>
          			</li>
					<li class="col-sm-12">
						<div class="form-group {{patientNameFeedback}}">
							<input type="text" placeholder="Name" tabindex="1" ng-change="validPatientName(addForm.patientName.$invalid)" ng-model="patient.patientName" name="patientName" ng-pattern="/^[a-zA-Z0-9  ]*$/" required>
							<div ng-show="patientNameValid" style="color: red">Please Enter valid Name</div>
							<span ng-show="patientNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
<!-- <li class="col-sm-6">
  <input type="text" name="last name" placeholder="Last Name">
</li> -->
					<li class="col-sm-6">
						<div class="form-group {{patientCityFeedback}}">
							<input type="text" placeholder="City" tabindex="2" ng-change="validPatientCity(addForm.patientCity.$invalid)" ng-model="patient.patientCity" name="patientCity" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientCityValid" style="color: red">Please Enter valid City</div>
							<span ng-show="patientCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientPhoneFeedback}}">
							<input type="text" placeholder="Phone" tabindex="5" type="number" ng-change="validPatientPhone(addForm.patientPhone.$invalid)" ng-model="patient.patientPhone" name="patientPhone" ngMinlength="10" ngMaxlength="10" placeholder="eg :(XXXXXXXXXX) 10 digits  " ng-pattern="/^\d{10}$/" required>
							<div ng-show="patientPhoneValid" style="color: red">Please Enter valid Phone Number</div>
							<span ng-show="patientPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientTalFeedback}}">
							<!-- <input type="text" placeholder="Taluka" tabindex="3" ng-change="validPatientTal(addForm.patientTal.$invalid)" ng-model="patient.patientTal" name="patientTal" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientTalValid" style="color: red">Please Enter valid Taluka</div>
							<span ng-show="patientTalSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientTalError" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
							<select class="form-control" ng-model="patient.patientTal" name="patientTal" ng-options="x for x in tal">
								
							</select>
							<span ng-show="patientTalSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
						</div>
					</li>
					
					<li class="col-sm-6">
						<div class="form-group {{patientDistFeedback}}">
  	<!-- <input type="text" placeholder="District" tabindex="4" ng-change="validPatientDist(addForm.patientDist.$invalid)"  ng-pattern="/^[a-zA-Z  ]*$/" required>
                  <div ng-show="patientDistValid" style="color: red">Please Enter valid District</div>
                  <span ng-show="patientDistSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  <span ng-show="patientDistError" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
							<select class="form-control" ng-model="patient.patientDist" name="patientDist" ng-options="x for x in dist">
								<!-- <option value="volvo">Volvo</option>
  								<option value="saab">Saab</option>
  								<option value="opel">Opel</option>
  								<option value="audi">Audi</option> -->
							</select>
							<span ng-show="patientDistSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
						</div>
					</li>
      
					<li class="col-sm-6">
						<div class="form-group {{patientEmailFeedback}}">
							<input type="email" placeholder="Email Address" tabindex="7" ng-disabled="editMode" ng-change="validPatientEmail(addForm.patientEmail.$invalid)" ng-model="patient.patientEmail" name="patientEmail" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="eg :(aaa@aa.aaa)" required>
							<div ng-show="patientEmailValid" style="color: red">Please Enter valid Email ID</div>
							<span ng-show="patientEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientAadharnoFeedback}}">
							<input type="text" placeholder="Aadhar No" tabindex="6" type="number" ng-change="validPatientAadharNo(addForm.patientAadharno.$invalid)" ng-model="patient.patientAadharno" name="patientAadharno" placeholder="eg :(XXXXXXXXXXXX) 12 digits  "  required>
							<div ng-show="patientAadharnoValid" style="color: red">Please Enter valid Aadhar Number</div>
							<span ng-show="patientAadharnoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientAadharnoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientDiseseFeedback}}">
							<input type="text" placeholder="Nature of disease" tabindex="8" ng-change="validPatientDisese(addForm.patientDisese.$invalid)" ng-model="patient.patientDisese" name="patientDisese" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientDiseseValid" style="color: red">Please Enter valid Nature Of Disese</div>
							<span ng-show="patientDiseseSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientDiseseError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
					
					<li class="col-sm-6">
						<div class="form-group {{patientHelptypeFeedback}}">
							<input type="text" placeholder="Help needed in Financial/Things (objects)/Services" tabindex="9" ng-change="validPatientHelptype(addForm.paymentMode.$invalid)" ng-model="patient.patientHelptype" name="patientHelptype" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientHelptypeValid" style="color: red">Please Enter valid Helptype</div>
							<span ng-show="patientHelptypeSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientHelptypeError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientAccountnoFeedback}}">
							<input type="text" placeholder="Enter Your Bank Account Number" tabindex="10" type="number" ng-change="validPatientAccountno(addForm.patientAccountno.$invalid)" ng-model="patient.patientAccountno" name="patientAccountno" ngMinlength="10" ngMaxlength="12" placeholder="  " required>
							<div ng-show="patientAccountnoValid" style="color: red">Please Enter valid Accountno</div>
							<span ng-show="patientAccountnoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientAccountnoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-12">
						<div class="form-group {{patientDoctorinfoFeedback}}">
							<textarea placeholder="Doctor’s/ Hospital’s information" rows="5" autocomplete="off" tabindex="11" ng-change="validPatientDoctorinfo(addForm.patientDoctorinfo.$invalid)" ng-model="patient.patientDoctorinfo" name="patientDoctorinfo" ng-pattern="/^[a-zA-Z  ]*$/" required/>
							<div ng-show="patientDoctorinfoValid" style="color: red">Please Enter valid Occupation</div>
							<span ng-show="patientDoctorinfoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientDoctorinfoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
					<li class="col-sm-12">
						<button type="submit" class="btn"  tabindex="12" ng-disabled="addForm.$invalid" ng-click="addPatient()">SUBMIT DETAILS</button>
					</li>
    			</ul>
    		</ul>
    	</ul>
      </form>
    </div>
  </div>
  <!--======= BECOME A Patient END =========--> 


</div>
<script src="asset-design/js/jquery-1.11.0.min.js"></script> 
<script src="asset-design/js/bootstrap.min.js"></script> 
<script src="asset-design/js/own-menu.js"></script> 
<script src="asset-design/js/jquery.flexslider.js"></script> 
<script src="asset-design/js/counter.js"></script> 
<script src="asset-design/js/owl.carousel.min.js"></script> 
<script src="asset-design/js/waypoints.min.js"></script> 
<script src="asset-design/js/jquery.isotope.min.js"></script> 
<script src="asset-design/js/jquery.nouislider.min.js"></script> 
<script src="asset-design/js/jquery.magnific-popup.min.js"></script> 
<script src="asset-design/js/jquery.downCount.js"></script> 
<script src="asset-design/js/main.js"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
