<!-- Page Wrap ===========================================-->
<div  id="wrap"> 
  
  <!--======= TOP BAR =========-->
  <div class="top-bar">
    <div class="container">
      <ul class="left-bar-side">
        <li>
          <p class="font-lora"><i><img src="asset-design/images/top-bar-icon.png" alt=""></i> No one has Ever Become Poor from Giving! </p>
        </li>
      </ul>
      <ul class="right-bar-side social_icons">
        <li class="padding-r-20">
          <p class="font-lora">Phone: (01) 800 433 633</p>
        </li>
        <li>
          <p class="font-lora">Mail: aarogyadaan01@gmail.com</p>
        </li>
      </ul>
    </div>
  </div>
  
  <!--======= HEADER START =========-->
  <header class="sticky">
    <div class="container"> 
      
      <!--======= LOGO =========-->
      <div class="logo"> <a href="#."><img style="width:256px;" src="asset-design/images/abhi.png" alt="" ></a> </div>
      
      <!--======= DONATE NOW BTN =========-->
      <!-- <div class="btn-right"> <a ui-sref="login" class="btn popup-with-zoom-anim"><i class="fa fa-user-secret"></i>Login</a> </div> -->
      <div class="btn-right"> <a href="#patient" class="btn popup-with-zoom-anim">Join as Patient</a> </div>
      <div class="btn-right"> <a href="#backer" class="btn popup-with-zoom-anim">Join as Backer</a> </div>
    </div>
    
    <!--======= NAVIGATION =========-->
    <nav>
      <div class="container">
        <ul id="ownmenu" class="ownmenu">
          <li class="active"><a href="#">Home</a></li>
          <li><a ui-sref="about">About Us </a></li>
          <li><a href="">Events </a></li>
          <li><a ui-sref="gallery">Gallery </a></li>
          <li><a href="">Blog </a></li>
          <li><a ui-sref="feedback">Feedback</a></li>
          <li><a ui-sref="faq">FAQ</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <!--======= HEADER END =========--> 
  
  <!--======= BANNER =========-->
  <div id="banner">
    <div class="flex-banner">
      <ul class="slides">
        
        <!--======= BANNER SLIDE 1 =========-->
        <li> <img src="asset-design/images/new-slider-1.jpg" alt="" > 
          
          <!--======= BANNER TEXT =========-->
          <div class="bnr-txt left-text bnr-txt-2">
            <h3 class="font-lora">Save the Children</h3>
            <h1>They Need Your Help</h1>
            <p>Eleniti atque corrupti quos dolores et quas molestias excepturi sint occaecatialu cupiditate non provident. </p>
            
            <!--======= BANNER BTN =========--> 
            <a href="#." class="btn">URGENT PROJECTS <i class="fa fa-arrow-circle-o-right"></i></a> </div>
        </li>
        
        <!--======= BANNER SLIDE 2 =========-->
        <li> <img src="asset-design/images/new-slider-2.jpg" alt="" > 
          
          <!--======= BANNER TEXT =========-->
          <div class="bnr-txt left-text">
            <h1>Give a <span>helping hand </span> to those who need it!</h1>
            <hr>
            <p class="font-lora">Volunteers do not Necessarily have the Time, They Just have the Heart.</p>
            
            <!--======= BANNER BTN =========--> 
            <a href="#." class="btn">LEARN MORE <i class="fa fa-caret-right"></i></a> </div>
        </li>
      </ul>
    </div>
  </div>
  
  <!--======= CONTENT =========-->
  <div class="content"> 
    
    <!--======= UP COMING EVENT =========-->
    
    <div class="container">
      <div class="process">

      <div class="row">
        
      <div class="">
      <ul class="col-md-6">
          
          <li class=""> <span class="num font-lora">02</span>
            <a ui-sref="allvolunteer"><p class="font-lora" ><i class="fa fa-users"></i> Our Volunteer</p></a>
          </li>
        </ul>
      </div>

      <div class="">
      <ul class="col-md-6">
          
          <li class=""> <span class="num font-lora">03</span>
            <p class="font-lora"><i class="fa fa-heart-o"></i> Our Patient</p>
          </li>
          
        </ul>
      </div>

      </div>
        
      </div>
    </div>
    
    <!--======= RECENT CASES =========-->
    <section class="cases">
      <div class="container"> 
        
        <!--======= TITTLE =========-->
        <div class="tittle">
          <h2>Recent <span>Causes </span></h2>
          <p>Our <span class="underline">charity helps </span>those people who have no hope</p>
        </div>
        
        <!--======= CASES ROW =========-->
        <ul class="row">
          
          <!--======= CASE 1 =========-->
          <li class="col-sm-4">
            <section> <img class="img-responsive" src="asset-design/images/case-img-1.jpg" alt=""> 
              
              <!--======= CASE PROGRESS BAR =========-->
              <div class="progress-bars">
                <div class="progress" data-percent="63%">
                  <div class="progress-bar progress-bar-striped"> <span class="progress-bar-tooltip">63%</span> </div>
                </div>
              </div>
              
              <!--======= DONATION DETAILS =========-->
              <div class="donate-detail"> 
                
                <!--======= DONATION =========-->
                <h6>Donation: <span>53,458</span>/$87,609 </h6>
                
                <!--======= LINK =========--> 
                <a href="#." class="font-lora head">Donate For Child Education</a>
                <hr>
                <p>Totam rem aperiam, eaque ipsa quae ab illosa 
                  inventore veritatis et quasi.</p>
              </div>
              
              <!--======= DONATE BTN  =========--> 
              <a href="#." class="btn">Donate Now</a> </section>
              
          </li>
          
          <!--======= CASE 1 =========-->
          <li class="col-sm-4">
            <section> <img class="img-responsive" src="asset-design/images/case-img-2.jpg" alt=""> 
              
              <!--======= CASE PROGRESS BAR =========-->
              <div class="progress-bars">
                <div class="progress" data-percent="42%">
                  <div class="progress-bar progress-bar-striped"> <span class="progress-bar-tooltip">42%</span> </div>
                </div>
              </div>
              
              <!--======= DONATION DETAILS =========-->
              <div class="donate-detail"> 
                
                <!--======= DONATION =========-->
                <h6>Donation: <span>53,458</span>/$87,609 </h6>
                
                <!--======= LINK =========--> 
                <a href="#." class="font-lora head">Donate For Drinking Water</a>
                <hr>
                <p>Totam rem aperiam, eaque ipsa quae ab illosa 
                  inventore veritatis et quasi.</p>
              </div>
              
              <!--======= DONATE BTN  =========--> 
              <a href="#." class="btn">Donate Now</a> </section>
          </li>
          
          <!--======= CASE 1 =========-->
          <li class="col-sm-4">
            <section> <img class="img-responsive" src="asset-design/images/case-img-3.jpg" alt=""> 
              
              <!--======= CASE PROGRESS BAR =========-->
              <div class="progress-bars">
                <div class="progress" data-percent="70%">
                  <div class="progress-bar progress-bar-striped"> <span class="progress-bar-tooltip">70%</span> </div>
                </div>
              </div>
              
              <!--======= DONATION DETAILS =========-->
              <div class="donate-detail"> 
                
                <!--======= DONATION =========-->
                <h6>Donation: <span>53,458</span>/$87,609 </h6>
                
                <!--======= LINK =========--> 
                <a href="#." class="font-lora head">Donate For Homeless People</a>
                <hr>
                <p>Totam rem aperiam, eaque ipsa quae ab illosa 
                  inventore veritatis et quasi.</p>
              </div>
              
              <!--======= DONATE BTN  =========--> 
              <a href="#." class="btn">Donate Now</a> </section>
          </li>
        </ul>
      </div>
    </section>
    
    <!--======= HOW CAN YOU HELP =========-->
    <section class="how-can-help what-we" style="padding-bottom:0px">
      <div class="container">
        <ul class="row">
          
          <!--======= HOW CAN YOU HELP =========-->
          <li class="col-md-8 with-map"> <span class="big-text font-lora">WHAT <small>WE ARE DOING?</small></span>
            <hr>
            <h6>Contribute to remove all illness from society.</h6>
            <p>
              Healthy mind resides in healthy body. Nothing is more important in life than health. 
              If one is healthy/ fit, he or she can work hard for his or her family and can carry out their duties relentlessly. 
              But if a person in a family gets seriously ill, then the whole family gets disturbed; 
              its economic condition falls down. There are innumerable families in our country whose lives become wretched because of financial crisis caused by illnesses or diseases. Often, the illness is not serious initially and hence it is neglected but later it turns fatal. The family, then, cannot afford the expenses on the treatment; whatever savings it has is spent on it and the family goes bankrupt. The sickness destroys the family’s financial condition so badly that it never comes on track.
              <br>
              <a ui-sref="about" class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a>
            </p>
            
          </li>
          
          <!--======= OUR PROGRAM =========-->
          <li class="col-md-4">
            
          </li>
        </ul>
        
        <ul class="row">
          
          <!--======= HOW CAN YOU HELP =========-->
          <li class="col-sm-4"> <span class="big-text font-lora">How <small>Can You Help?</small></span>
            <hr>
            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea cmodo conse quat. Duis aute irure dolor in reprehenderit inas voluptate velit esse cillum...</p>
             
          </li>
          
          <!--======= FEATURED =========-->
          <li class="col-sm-4">
            <ul class="help-fea">
              <li class="font-lora"><img src="asset-design/images/help-icon-1.png" alt=""> Media</li>
              <li class="font-lora"><img src="asset-design/images/help-icon-2.png" alt=""> Become Volunteer</li>
              <li class="font-lora"><img src="asset-design/images/help-icon-4.png" alt=""> donate for good cause</li>
              <li class="font-lora"><img src="asset-design/images/help-icon-5.png" alt=""> Give Helping Hand</li>
            </ul>
          </li>
          <!--======= DONATION IMAGE =========-->
          <li class="col-sm-4"> <img class="img-responsive" src="asset-design/images/donate-img.png" alt="" > </li>
        </ul>
      </div>
    </section>
    
    <!--======= HOW CAN YOU HELP =========-->
    
    
    <!--======= DONATION COUNTER =========-->
    <section class="don-counter">
      <div class="overlay">
        <div class="container"> 
          
          <!--======= COUNTER ROWS =========-->
          <div class="row" id="counters">
            <div class="col-md-6">
              <ul class="row">
                <!--======= NO OF CASES =========-->
                <li class="col-sm-6">
                  <div class="row"> 
                    
                    <!--======= ICON =========-->
                    <div class="col-xs-3"><i class="fa fa-heart-o"></i></div>
                    <div class="col-xs-9"><span class="count1"></span>
                      <p>No of patient</p>
                    </div>
                  </div>
                </li>
                
                <!--======= VOLUNTEERS HAVE =========-->
                <li class="col-sm-6">
                  <div class="row"> 
                    
                    <!--======= ICON =========-->
                    <div class="col-xs-3"><i class="fa fa-users"></i></div>
                    <div class="col-xs-9"> <span class="count2"></span>
                      <p>volunteers have</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            
            <!--======= ROWS 2 =========-->
            <div class="col-md-6">
              <ul class="row">
                <!--======= ACHRIVED  =========-->
                <li class="col-sm-6">
                  <div class="row"> 
                    
                    <!--======= ICON =========-->
                    <div class="col-xs-3"><i class="fa fa-rupee"></i></div>
                    <div class="col-xs-9"> <span class="count3"></span>
                      <p>total amount</p>
                    </div>
                  </div>
                </li>
                <!--======= SAVED CHILDRESNS =========-->
                <li class="col-sm-6">
                  <div class="row"> 
                    
                    <!--======= ICON =========-->
                    <div class="col-xs-3"><i class="fa fa-smile-o"></i></div>
                    <div class="col-xs-9"> <span class="count4"></span>
                      <p>Other NGO</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--======= LATEST DONATORES =========-->
    <section class="donatores">
      <div class="container"> 
        
        <!--======= TITTLE =========-->
        <div class="tittle">
          <h2>Our <strong>Team</strong></h2>
          <p>The charity that is a trifle to us can <span class="underline">be precious</span> to others.</p>
        </div>
        
        <!--======= TEAM ROWS =========-->
                  
            <ul class="row">
              
              <!--======= TEAM 1 =========-->
              <li class="col-sm-4">
                <div class="avatar"> <img class="img-responsive" src="asset-design/images/ghanasham-kelkar.jpg" alt="" > </div>
                <div class="donor-details">
                  <h5>Ghanasham Kelkar <strong>(Designation)</strong></h5>
                  <p class="font-lora">aaaaaa aaaa aaa aaa aaaaa aaaa aaaa aaaa aaaaa aaaaa aaaaaaa aaaaaa</p>
                </div>
              </li>
              
              <!--======= TEAM 2 =========-->
              <li class="col-sm-4">
                <div class="avatar"> <img class="img-responsive" src="asset-design/images/dnyashwar rayate.jpg" alt="" > </div>
                <div class="donor-details">
                  <h5>Dnyashwar Rayate <strong>(Designation)</strong></h5>
                  <p class="font-lora">aaaaaa aaaa aaa aaa aaaaa aaaa aaaa aaaa aaaaa aaaaa aaaaaaa aaaaaa</p>
                </div>
              </li>
              
              <!--======= TEAM 3 =========-->
              <li class="col-sm-4">
                <div class="avatar"> <img class="img-responsive" src="asset-design/images/shital kothri.jpg" alt="" > </div>
                <div class="donor-details">
                  <h5>Shital Kothri <strong>(Designation)</strong></h5>
                  <p class="font-lora">aaaaaa aaaa aaa aaa aaaaa aaaa aaaa aaaa aaaaa aaaaa aaaaaaa aaaaaa</p>
                </div>
              </li>
              
            </ul>
        
        <!-- /////////////////////////////////////////////////////////////// -->
        
        
        <div class="tittle">
          <h2>Our <strong>Best</strong> Volunteer</h2>
          <p>The charity that is a trifle to us can <span class="underline">be precious</span> to others.</p>
        </div>
        
        <!--======= DONATOR ROWS =========-->
        <div class="row"> 
          
          <!--======= DONATOR 1 =========-->
          <div class="col-md-6">
            <ul class="row">
              
              <!--======= DONATOR 1 =========-->
              <li class="col-sm-6">
                <div class="valavatar"> <img class="img-responsive" src="asset-design/images/ghanasham-kelkar.jpg" alt="" > </div>
                <div class="donor-details">
                  <h5>Ghanasham Kelkar</h5>
                  <p class="font-lora"><strong>Baramati</strong></p>
                  <span class="font-lora spanvol">Mobile : <strong>9999999999</strong></span>
                </div>
              </li>
              
              <!--======= DONATOR 2 =========-->
              <li class="col-sm-6">
                <div class="valavatar"> <img class="img-responsive" src="asset-design/images/dnyashwar rayate.jpg" alt="" > </div>
                <div class="donor-details">
                  <h5>Dnyashwar Rayate</h5>
                  <p class="font-lora"><strong>Baramati</strong></p>
                  <span class="font-lora spanvol">Mobile : <strong>9999999999</strong></span>
                </div>
              </li>
            </ul>
          </div>
          
          <!--======= DONATOR ROW =========-->
          <div class="col-md-6">
            <ul class="row">
              
              <!--======= DONATOR 1 =========-->
              <li class="col-sm-6">
                <div class="valavatar"> <img class="img-responsive" src="asset-design/images/shital kothri.jpg" alt="" > </div>
                <div class="donor-details">
                  <h5>Shital Kothri</h5>
                  <p class="font-lora"><strong>Baramati</strong></p>
                  <span class="font-lora spanvol">Mobile : <strong>9999999999</strong></span>
                </div>
              </li>
              
              <!--======= DONATOR 2 =========-->
              <li class="col-sm-6 become-donor">
                <div class="donor-details">
                  <h4>Become <strong>Volunteer</strong></h4>
                  <hr>
                  <p class="font-lora"> Quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea cmodo conse quat. </p>
                  <a href="#volunteer" class="btn popup-with-zoom-anim">JOIN NOW!</a>
                  <hr> 
                  <a ui-sref="allvolunteer" class="">View All</a>
                </div>
              </li>
            </ul>
          </div>
        </div><!-- row end -->
        <!-- ///////////////////////////////////////////////////////////// -->
        
      </div>
    </section>

    <!--======= Join =========-->
    <section class="call-out">
      <div class="overlay">
        <div class="container">
          <h2><strong>If you want help <span> Or </span> join us</strong></h2>
          <h2>Register here for helping hand</h2>
          
          <a href="#backer" class="btn btn-1 popup-with-zoom-anim">Join as Backer</a> <a href="#patient" class="btn popup-with-zoom-anim">Join as Patient</a> </div>
      </div>
    </section>
    
    <!--======= BLOG =========-->
    <section class="blog">
      <div class="container"> 
        <!--======= TITTLE =========-->
        <div class="tittle">
          <h2>Fresh From The <span>Blog</span></h2>
          <p>Every charitable act is a stepping stone toward heaven</p>
        </div>
        
        <!--======= BLOG ROW =========-->
        
        <div class="row"> 
          
          <!--======= BLOG BIG VIDEO =========-->
          <div class="col-md-6">
            <div class="video-blog"> <img class="img-responsive" src="asset-design/images/blog-1.jpg" alt="" > <a href="#."><i class="fa fa-caret-right"></i></a> </div>
          </div>
          
          <!--======= BLOG RIGTH =========-->
          
          <div class="col-md-6"> 
            <!--======= BLOG 2 =========-->
            <ul class="row">
              <li class="col-xs-4"> <a href="#."><img class="img-responsive" src="asset-design/images/blog-2.jpg" alt="" ></a> </li>
              <li class="col-xs-8"> <a class="font-lora title" href="#.">The New Charity psd TemplateDesign</a> <span class="font-lora">MAy 14, 2015  |  By Admin  |  4 comments</span>
                <p>Perspiciatis unde omnis iste natus error sit ametsan voluptatem accusantium[...] </p>
                <a href="#." class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a> </li>
            </ul>
            <!--======= BLOG 3 =========-->
            
            <ul class="row">
              <li class="col-xs-4"> <a href="#."><img class="img-responsive" src="asset-design/images/blog-3.jpg" alt="" ></a> </li>
              <li class="col-xs-8"> <a class="font-lora title" href="#.">The New Charity psd TemplateDesign</a> <span class="font-lora">MAy 14, 2015  |  By Admin  |  4 comments</span>
                <p>Perspiciatis unde omnis iste natus error sit ametsan voluptatem accusantium[...] </p>
                <a href="#." class="btn">Read More <i class="fa fa-arrow-circle-o-right"></i></a> </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    <!--======= TESTIMONIALS =========-->
    <section class="testi">
      <div class="container"> 
        
        <!--======= ROW =========-->
        <div class="row">
          <div class="col-md-6">
            <h3><strong>WHAT</strong> Our Patient Say</h3>
            
            <!--======= SLIDES =========-->
            <section> 
              
              <!--======= SLIDER =========-->
              <div class="testi-slides"> 
                
                <!--======= SLIDER 1 =========-->
                <div class="item-slide">
                  <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur ridiculus. mus.  Morbi nunc odio gravida at cursus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio gravida at cursus.</p>
                  <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                </div>
                
                <!--======= SLIDER 1 =========-->
                <div class="item-slide">
                  <p>Cum sociis natoque penatibus et magnis dis parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male suada odio.   Morbi nunc odio gravida at cursus. Morbi nunc odio gravida at cursus.</p>
                  <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                </div>
                
                <!--======= SLIDER 1 =========-->
                <div class="item-slide">
                  <p>Cum sociis natoque penatibus et magnis dis  Morbi nunc odio gravida at cursus. parturient salos montes ascetur ridiculus. mus. Nultl dui. Fusce feugiat male suada odio. Morbi nunc odio gravida at cursus.</p>
                  <h6><strong class="font-lora">William Smith </strong>(new world marketing director)</h6>
                </div>
              </div>
            </section>
          </div>
          
          <!--======= RIGHT IMAGES =========-->
          <div class="col-md-6 with-bg-drk"> <img class="img-responsive" src="asset-design/images/test.png" alt=""> </div>
        </div>
      </div>
    </section>
    
  </div>
  
  <!--======= FOOTER =========-->
  <footer>
    <div class="container"> 
      
      <!--======= FOOTER ROW =========-->
      <div class="row">
        <div class="col-md-6"> 
          
          <!--======= FOOTER 1 =========-->
          <ul class="row">
            
            <!--======= KEEP IN TOUCH =========-->
            <li class="col-sm-6 shadow">
              <ul class="social_icons">
                <li class="facebook"><a href="#."><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#."><i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i></a></li>
                <li class="instagram"><a href="#."><i class="fa fa-instagram"></i></a></li>
                <li class="soundcloud"><a href="#."><i class="fa fa-rss"></i></a></li>
              </ul>
              <p>Email : info@Example.com</p>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
    <br>
    <!--======= RIGHTS =========-->
  </footer>



  <!--======= BECOME A volunteer =========-->
  <div id="volunteer" class="donation-pop zoom-anim-dialog mfp-hide" style="width: 615px;">
    <h6>Register As volunteer</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
      <form name="addFormVolunteer">
        
        <!--======= CRADIT CARD INFO =========-->
        <ul class="row per-info">
          <li class="col-lg-12">
            <label>give Your Information</label>
          </li>
          <li class="col-sm-12">
            <input class="form-control" tabindex="1" ng-change="validVolunteerName(addFormVolunteer.volunteerName.$invalid)" ng-model="volunteer.volunteerName" name="volunteerName" placeholder="Name" ng-pattern="/^[a-zA-Z0-9  ]*$/" required>
                            <div ng-show="volunteerNameValid" style="color: red">Please Enter valid Name</div>
                            <span ng-show="volunteerNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          
          <li class="col-sm-6">
            <input class="form-control" tabindex="2" ng-change="validCity(addFormVolunteer.volunteerCity.$invalid)" ng-model="volunteer.volunteerCity" name="volunteerCity" placeholder="City" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="volunteerCityValid" style="color: red">Please Enter valid City</div>
                            <span ng-show="volunteerCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input class="form-control" tabindex="5" type="number" ng-change="validVolunteerPhone(addFormVolunteer.volunteerPhone.$invalid)" ng-model="volunteer.volunteerPhone" name="volunteerPhone" placeholder="Phone" ngMinlength="10" ngMaxlength="10"  ng-pattern="/^\d{10}$/" required>
                            <div ng-show="volunteerPhoneValid" style="color: red">Please Enter valid Phone Number</div>
                            <span ng-show="volunteerPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
          	
          	<select class="form-control" style="margin-top: 12px;" ng-model="volDist" ng-options="District.id as District.name for District in Districts">
        			<option value="">Select</option>
    			</select>
          </li>
          <li class="col-sm-6">
          	<select ng-disabled="!volDist" class="form-control" style="margin-top: 12px;" ng-model="backer.backerTal" ng-options="Taluka.id as Taluka.dep for Taluka in ((Districts  | filter:{id:volDist})[0].Talukas)">
        			<option value="">Select</option>
    			</select>
          </li>
          
          
          <li class="col-sm-6">
          	<input class="form-control" tabindex="6" ng-disabled="editMode" ng-change="validVolunteerEmail(addFormVolunteer.volunteerEmail.$invalid)" ng-model="volunteer.volunteerEmail" name="volunteerEmail" placeholder="Email" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/"  required>
                            <div ng-show="volunteerEmailValid" style="color: red">Please Enter valid Email ID</div>
                            <span ng-show="volunteerEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
          	<input class="form-control" tabindex="8" ng-change="validVolunteerOccupation(addFormVolunteer.volunteerOccupation.$invalid)" ng-model="volunteer.volunteerOccupation" name="volunteerOccupation" placeholder="Occupation" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="volunteerOccupationValid" style="color: red">Please Enter valid Occupation</div>
                            <span ng-show="volunteerOccupationSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerOccupationError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-12">
            <textarea class="form-control" rows="7" autocomplete="off" tabindex="6" ng-change="validVolunteerVision(addFormVolunteer.volunteerVision.$invalid)" ng-model="volunteer.volunteerVision" name="volunteerVision" placeholder="Vision" ng-pattern="/^[a-zA-Z  ]*$/" required/>
                            <div ng-show="volunteerVisionValid" style="color: red">Please Enter valid Occupation</div>
                            <span ng-show="volunteerVisionSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerVisionError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <!-- <li class="col-sm-12">
          	<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
          </li> -->
          <li class="col-sm-12">
          	<div class="row text-center" ng-hide="addFormVolunteer.$valid" style="color: red">Enter all fields are mandatory</div>
          </li>
          <li class="col-sm-12">
            <button type="submit" class="btn" tabindex="9" ng-disabled="addFormVolunteer.$invalid" ng-click="addVolunteer()">SUBMIT DETAILS</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
  <!--======= BECOME A volunteer END =========--> 

  <!--======= BECOME A Backer =========-->
  <div id="backer" class="donation-pop zoom-anim-dialog mfp-hide">
  
    <h6>Register As Backer</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
      <form name="addForm">
      	<ul class="row per-info">
    		<ul class="col-sm-6">
    			<ul class="row">
    				<li class="col-sm-12">
          			<img class="img-responsive" ng-if="backer.backerDist=='Pune'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="backer.backerDist!='Pune'" src="asset-design/images/noAdd.png" alt="">
          		</li>
          		<hr>
          		<li  class="col-sm-12">
          			<img class="img-responsive" ng-if="backer.backerTal=='Baramati'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="backer.backerTal!='Baramati'" src="asset-design/images/noAdd.png" alt="">
          		</li>
    			</ul>
    		</ul>
    		<ul class="col-sm-6">
    			<ul class="row">
    				<li class="col-lg-12">
            <label>give Your Information</label>
            <p>
            	This is from of declare desire of donate. In this from you have to write your preferences as per area or diseases. When this preferences match with any patient,s information you receive alert SMS. After that you have to decide for your donation for a good cause.
            </p>
          </li>
          <li class="col-sm-12">
            <input tabindex="1" ng-change="validBackerName(addForm.backerName.$invalid)" ng-model="backer.backerName" name="backerName" ng-pattern="/^[a-zA-Z0-9  ]*$/" placeholder="Name" required>
                            <div ng-show="backerNameValid" style="color: red">Please Enter valid Name</div>
                            <span ng-show="backerNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          
          <li class="col-sm-6">
                            <input placeholder="City" tabindex="2" ng-change="validCity(addForm.city.$invalid)" ng-model="backer.backerCity" name="city" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerCityValid" style="color: red">Please Enter valid City</div>
                            <span ng-show="backerCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Phone" tabindex="5" type="number" ng-change="validBackerPhone(addForm.backerPhone.$invalid)" ng-model="backer.backerPhone" name="backerPhone" ngMinlength="10" ngMaxlength="10" placeholder="eg :(XXXXXXXXXX) 10 digits  " ng-pattern="/^\d{10}$/" required>
                            <div ng-show="backerPhoneValid" style="color: red">Please Enter valid Phone Number</div>
                            <span ng-show="backerPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            
				<select class="form-control" style="margin-top: 12px;" ng-model="backer.backerDist" ng-options="District.id as District.name for District in Districts">
        			<option value="">Select</option>
    			</select>
          </li>
          <li class="col-sm-6">
            
				<select ng-disabled="!backer.backerDist" class="form-control" style="margin-top: 12px;" ng-model="backer.backerTal" ng-options="Taluka.id as Taluka.dep for Taluka in ((Districts  | filter:{id:backer.backerDist})[0].Talukas)">
        			<option value="">Select</option>
    			</select>
          </li>
          
          <li class="col-sm-6">
            <input placeholder="Aadhar No" tabindex="6" type="number" ng-change="validBackerAadharNo(addForm.backerAadharNo.$invalid)" ng-model="backer.backerAadharNo" name="backerAadharNo" placeholder="eg :(XXXXXXXXXXXX) 12 digits  "  required>
                            <div ng-show="backerAadharNoValid" style="color: red">Please Enter valid Aadhar Number</div>
                            <span ng-show="backerAadharNoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerAadharNoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Email Address" tabindex="7" ng-disabled="editMode" ng-change="validBackerEmail(addForm.backerEmail.$invalid)" ng-model="backer.backerEmail" name="backerEmail" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="eg :(aaa@aa.aaa)" required>
                            <div ng-show="backerEmailValid" style="color: red">Please Enter valid Email ID</div>
                            <span ng-show="backerEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Nature of contribution Financial/ Things (objects)/Services" tabindex="8" ng-change="validBackerContribution(addForm.backerContribution.$invalid)" ng-model="backer.backerContribution" name="backerContribution" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerContributionValid" style="color: red">Please Enter valid Nature Of Contribution</div>
                            <span ng-show="backerContributionSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerContributionError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <input placeholder="Amount of Contribution/Donation Monthly/Yearly" tabindex="9" ng-change="validBackerPaymentMode(addForm.paymentMode.$invalid)" ng-model="backer.backerPaymentMode" name="backerPaymentMode" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="backerPaymentModeValid" style="color: red">Please Enter valid PaymentMode</div>
                            <span ng-show="backerPaymentModeSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerPaymentModeError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <li class="col-sm-6">
            <!-- <label style="color: red">&nbsp*</label> -->
                            <input placeholder="Mode of payment By cash/Cheque/Demand draft/ ECS" tabindex="10" type="number" ng-change="validBackerAmount(addForm.backerAmount.$invalid)" ng-model="backer.backerAmount" name="backerAmount" ngMinlength="1" ngMaxlength="12" placeholder="  " required>
                            <div ng-show="backerAmountValid" style="color: red">Please Enter valid Amount</div>
                            <span ng-show="backerAmountSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerAmountError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <!-- {{backer.imageBacker}}
          <li class="col-sm-12">
          	<input type='file' id="logofile" ng-model="imageBacker" name="imageBacker" accept="image/*" data-min-file-count="1" onchange="angular.element(this).scope().fileNameChanged(this)" />
          </li> -->
          <li class="col-sm-12">
            <textarea class="form-control" placeholder="Vision" rows="5" autocomplete="off" tabindex="11" ng-change="validBackerVision(addForm.backerVision.$invalid)" ng-model="backer.backerVision" name="backerVision" ng-pattern="/^[a-zA-Z  ]*$/" required/>
                            <div ng-show="backerVisionValid" style="color: red">Please Enter valid Vision</div>
                            <span ng-show="backerVisionSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="backerVisionError" class="glyphicon glyphicon-remove form-control-feedback"></span>
          </li>
          <hr>
          <li class="col-sm-12">
          	<label>Preferences</label>
          	<select class="form-control" ng-model="backer.backerPreferences" name="backerPreferences" ng-options="x for x in pref">
			</select>
			<div ng-show="backer.backerPreferences=='Disease'">
			<br>
				<select  class="form-control" ng-model="backer.diseasePreferences" name="diseasePreferences" ng-options="d for d in disease">
				</select>
			</div>
			
			<div ng-show="backer.backerPreferences=='District'" ng-click="myData()" ng-dropdown-multiselect="" options="Districts" selected-model="example14model" extra-settings="example14settings">
			</div>
            
          </li>
          <li class="col-sm-12">
          	<div class="row text-center" ng-hide="addForm.$valid" style="color: red">Enter all fields are mandatory</div>
          </li>
          <li class="col-sm-12">
            <button type="submit" class="btn" tabindex="12" ng-disabled="addForm.$invalid" ng-click="addBacker()">SUBMIT DETAILS</button>
          </li>
    			</ul>
    		</ul>
    	</ul>
        
        <!--======= CRADIT CARD INFO =========-->
        
      </form>
    </div>
  </div>
  <!--======= BECOME A Backer END =========--> 

  <!--======= BECOME A Patient =========-->
  <div id="patient" class="donation-pop zoom-anim-dialog mfp-hide">
  
    <h6>Register As Patient</h6>
    <!--======= DONATE LIGHT BOX =========-->
    <div class="pop-inner">
    <form name="addFormPatient">
    	<ul class="row per-info">
    		<ul class="col-sm-6">
    			<ul class="row">
    				<li class="col-sm-12">
          			<img class="img-responsive" ng-if="patient.patientDist=='Pune'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="patient.patientDist!='Pune'" src="asset-design/images/noAdd.png" alt="">
          		</li>
          		<hr>
          		<li  class="col-sm-12">
          			<img class="img-responsive" ng-if="patient.patientTal=='Baramati'" src="asset-design/images/blog-1.jpg" alt="">
          			<img class="img-responsive" ng-if="patient.patientTal!='Baramati'" src="asset-design/images/noAdd.png" alt="">
          		</li>
    			</ul>
    		</ul>
    		<ul class="col-sm-6">
    			<ul class="row">
          			<li class="col-lg-12">
            			<label>give Your Information</label>
          			</li>
					<li class="col-sm-12">
						<div class="form-group {{patientNameFeedback}}">
							<input type="text" placeholder="Name" tabindex="1" ng-change="validPatientName(addFormPatient.patientName.$invalid)" ng-model="patient.patientName" name="patientName" ng-pattern="/^[a-zA-Z0-9  ]*$/" required>
							<div ng-show="patientNameValid" style="color: red">Please Enter valid Name</div>
							<span ng-show="patientNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
					
					<li class="col-sm-6">
						<div class="form-group {{patientCityFeedback}}">
							<input type="text" placeholder="City" tabindex="2" ng-change="validPatientCity(addFormPatient.patientCity.$invalid)" ng-model="patient.patientCity" name="patientCity" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientCityValid" style="color: red">Please Enter valid City</div>
							<span ng-show="patientCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientPhoneFeedback}}">
							<input type="text" placeholder="Phone" tabindex="5" type="number" ng-change="validPatientPhone(addFormPatient.patientPhone.$invalid)" ng-model="patient.patientPhone" name="patientPhone" ngMinlength="10" ngMaxlength="10" placeholder="eg :(XXXXXXXXXX) 10 digits  " ng-pattern="/^\d{10}$/" required>
							<div ng-show="patientPhoneValid" style="color: red">Please Enter valid Phone Number</div>
							<span ng-show="patientPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientTalFeedback}}">
							
							<select class="form-control" style="margin-top: 12px;" ng-model="patient.patientDist" ng-options="District.id as District.name for District in Districts">
        						<option value="">Select</option>
    						</select>
    			
						</div>
					</li>
					
					<li class="col-sm-6">
						<div class="form-group {{patientDistFeedback}}">
							<select ng-disabled="!patient.patientDist" class="form-control" style="margin-top: 12px;" ng-model="patient.patientTal" ng-options="Taluka.id as Taluka.dep for Taluka in ((Districts  | filter:{id:patient.patientDist})[0].Talukas)">
        			<option value="">Select</option>
    			</select>
						</div>
					</li>
      
					<li class="col-sm-6">
						<div class="form-group {{patientEmailFeedback}}">
							<input type="email" placeholder="Email Address" tabindex="7" ng-disabled="editMode" ng-change="validPatientEmail(addFormPatient.patientEmail.$invalid)" ng-model="patient.patientEmail" name="patientEmail" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="eg :(aaa@aa.aaa)" required>
							<div ng-show="patientEmailValid" style="color: red">Please Enter valid Email ID</div>
							<span ng-show="patientEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientAadharnoFeedback}}">
							<input type="text" placeholder="Aadhar No" tabindex="6" type="number" ng-change="validPatientAadharNo(addFormPatient.patientAadharno.$invalid)" ng-model="patient.patientAadharno" name="patientAadharno" placeholder="eg :(XXXXXXXXXXXX) 12 digits  "  required>
							<div ng-show="patientAadharnoValid" style="color: red">Please Enter valid Aadhar Number</div>
							<span ng-show="patientAadharnoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientAadharnoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientDiseseFeedback}}">
							<input type="text" placeholder="Nature of disease" tabindex="8" ng-change="validPatientDisese(addFormPatient.patientDisese.$invalid)" ng-model="patient.patientDisese" name="patientDisese" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientDiseseValid" style="color: red">Please Enter valid Nature Of Disese</div>
							<span ng-show="patientDiseseSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientDiseseError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
					
					<li class="col-sm-6">
						<div class="form-group {{patientHelptypeFeedback}}">
							<input type="text" placeholder="Help needed in Financial/Things (objects)/Services" tabindex="9" ng-change="validPatientHelptype(addFormPatient.paymentMode.$invalid)" ng-model="patient.patientHelptype" name="patientHelptype" ng-pattern="/^[a-zA-Z  ]*$/" required>
							<div ng-show="patientHelptypeValid" style="color: red">Please Enter valid Helptype</div>
							<span ng-show="patientHelptypeSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientHelptypeError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>

					<li class="col-sm-6">
						<div class="form-group {{patientAccountnoFeedback}}">
							<input type="text" placeholder="Enter Your Bank Account Number" tabindex="10" type="number" ng-change="validPatientAccountno(addFormPatient.patientAccountno.$invalid)" ng-model="patient.patientAccountno" name="patientAccountno" ngMinlength="10" ngMaxlength="12" placeholder="  " required>
							<div ng-show="patientAccountnoValid" style="color: red">Please Enter valid Accountno</div>
							<span ng-show="patientAccountnoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientAccountnoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
					<!-- 
					<li class="col-sm-12">
          				<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
          			</li> -->

					<li class="col-sm-12">
						<div class="form-group {{patientDoctorinfoFeedback}}">
							<textarea placeholder="Doctor’s/ Hospital’s information" rows="5" autocomplete="off" tabindex="11" ng-change="validPatientDoctorinfo(addFormPatient.patientDoctorinfo.$invalid)" ng-model="patient.patientDoctorinfo" name="patientDoctorinfo" ng-pattern="/^[a-zA-Z  ]*$/" required/>
							<div ng-show="patientDoctorinfoValid" style="color: red">Please Enter valid Occupation</div>
							<span ng-show="patientDoctorinfoSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
							<span ng-show="patientDoctorinfoError" class="glyphicon glyphicon-remove form-control-feedback"></span>
						</div>
					</li>
					<li class="col-sm-12">
						<button type="submit" class="btn"  tabindex="12" ng-disabled="addFormPatient.$invalid" ng-click="addPatient()">SUBMIT DETAILS</button>
					</li>
    			</ul>
    		</ul>
    	</ul>
      </form>
    </div>
  </div>
  <!--======= BECOME A Patient END =========--> 

</div>

<script src="asset-design/js/jquery-1.11.0.min.js"></script> 
<script src="asset-design/js/bootstrap.min.js"></script> 
<script src="asset-design/js/own-menu.js"></script> 
<script src="asset-design/js/jquery.flexslider.js"></script> 
<script src="asset-design/js/counter.js"></script> 
<script src="asset-design/js/owl.carousel.min.js"></script> 
<script src="asset-design/js/waypoints.min.js"></script> 
<script src="asset-design/js/jquery.isotope.min.js"></script> 
<script src="asset-design/js/jquery.nouislider.min.js"></script> 
<script src="asset-design/js/jquery.magnific-popup.min.js"></script> 
<script src="asset-design/js/jquery.downCount.js"></script> 
<script src="asset-design/js/main.js"></script>