<div>
    <br>
    <div class="row">
        <h1>{{heading}}</h1>
    </div>

    <form name="addForm">
        <div class="panel panel-info">
            <div class="panel-heading">Volunteer Form</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group {{volunteerNameFeedback}}">
                            <label>Name</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="1" ng-change="validVolunteerName(addForm.volunteerName.$invalid)" ng-model="volunteer.volunteerName" name="volunteerName" ng-pattern="/^[a-zA-Z0-9  ]*$/" required>
                            <div ng-show="volunteerNameValid" style="color: red">Please Enter valid Name</div>
                            <span ng-show="volunteerNameSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerNameError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{volunteerCityFeedback}}">
                            <label>City</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="2" ng-change="validCity(addForm.city.$invalid)" ng-model="volunteer.volunteerCity" name="city" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="volunteerCityValid" style="color: red">Please Enter valid City</div>
                            <span ng-show="volunteerCitySuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerCityError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group">
                            <label>District</label>
                            <label style="color: red">&nbsp*</label>
                            <select class="form-control" ng-model="volDist" ng-options="District.id as District.name for District in Districts">
								<option value="">Select District</option>
							</select>
                            <!-- <input class="form-control" tabindex="4" ng-change="validDist(addForm.dist.$invalid)" ng-model="volunteer.volunteerDist" name="dist" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="volunteerDistValid" style="color: red">Please Enter valid District</div>
                            <span ng-show="volunteerDistSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerDistError" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
                        </div>
                        
                        <div class="form-group">
                            <label>Taluka</label>
                            <label style="color: red">&nbsp*</label>
                            <select ng-disabled="!volDist" class="form-control" ng-model="volTal" ng-options="Taluka.id as Taluka.dep for Taluka in ((Districts  | filter:{id:volDist})[0].Talukas)">
								<option value="">Select Taluka</option>
							</select>
                            <!-- <input class="form-control" tabindex="3" ng-change="validTal(addForm.tal.$invalid)" ng-model="volunteer.volunteerTal" name="tal" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="volunteerTalValid" style="color: red">Please Enter valid Taluka</div>
                            <span ng-show="volunteerTalSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerTalError" class="glyphicon glyphicon-remove form-control-feedback"></span> -->
                        </div>
                        
                        <div class="form-group {{volunteerPhoneFeedback}}">
                            <label>Phone/Mobile Number</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="5" type="number" ng-change="validVolunteerPhone(addForm.volunteerPhone.$invalid)" ng-model="volunteer.volunteerPhone" name="volunteerPhone" ngMinlength="10" ngMaxlength="10" placeholder="eg :(XXXXXXXXXX) 10 digits  " ng-pattern="/^\d{10}$/" required>
                            <div ng-show="volunteerPhoneValid" style="color: red">Please Enter valid Phone Number</div>
                            <span ng-show="volunteerPhoneSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerPhoneError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{volunteerEmailFeedback}}">
                            <label>Email</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="6" ng-disabled="editMode" ng-change="validVolunteerEmail(addForm.volunteerEmail.$invalid)" ng-model="volunteer.volunteerEmail" name="volunteerEmail" ng-maxlength="50" ng-minlength="7" ng-pattern="/^[a-z]+[a-z0-9._+]+@[a-z]+\.[a-z.]{2,5}$/" placeholder="eg :(aaa@aa.aaa)" required>
                            <div ng-show="volunteerEmailValid" style="color: red">Please Enter valid Email ID</div>
                            <span ng-show="volunteerEmailSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerEmailError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>

                        <div class="form-group {{volunteerVisionFeedback}}">
                            <label>Vision</label>
                            <label style="color: red">&nbsp*</label>
                            <textarea class="form-control" rows="7" autocomplete="off" tabindex="6" ng-change="validVolunteerVision(addForm.volunteerVision.$invalid)" ng-model="volunteer.volunteerVision" name="volunteerVision" ng-pattern="/^[a-zA-Z,.!&  ]*$/"  required/>
                            <div ng-show="volunteerVisionValid" style="color: red">Please Enter valid Occupation</div>
                            <span ng-show="volunteerVisionSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerVisionError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                        <div class="form-group {{volunteerOccupationFeedback}}">
                            <label>Occupation</label>
                            <label style="color: red">&nbsp*</label>
                            <input class="form-control" tabindex="8" ng-change="validVolunteerOccupation(addForm.volunteerOccupation.$invalid)" ng-model="volunteer.volunteerOccupation" name="volunteerOccupation" ng-pattern="/^[a-zA-Z  ]*$/" required>
                            <div ng-show="volunteerOccupationValid" style="color: red">Please Enter valid Occupation</div>
                            <span ng-show="volunteerOccupationSuccess" class="glyphicon glyphicon-ok form-control-feedback"></span>
                            <span ng-show="volunteerOccupationError" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                        
                    </div>
                    <div class="col-lg-3">
                    </div>

                </div>

                <div class="row text-center" ng-hide="addForm.$valid" style="color: red">Enter all mandatory fields marked with *</div>

                <div class="row text-center">
                    <button class="btn btn-success" tabindex="9" type="button" ng-disabled="addForm.$invalid" ng-click="addVolunteer()">
                        <i class="fa fa-check"></i>&nbsp; Save
                    </button>

                    <button class="btn btn-danger" tabindex="10" type="button" ng-click="cancelAddVolunteer()">
                        <i class="fa fa-times"></i>&nbsp; Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>